### Build Outputs (Maven/Gradle) ###
target/
build/
bin/
out/
*.class
*.jar
*.war

### IDEs (IntelliJ, Eclipse, VS Code, NetBeans) ###
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.factorypath
.apt_generated
.springBeans
.sts4-cache
.vscode/
.nb-gradle/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

### Sistema Operacional ###
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini